.c-month {
  display: flex;
  flex-wrap: wrap;

  .week {
    display: flex;
    flex-grow: 1;
    width: auto;
    flex-direction: column;
  }
  .day {
    height: 60px;
  }
  .empty {
    background: #878f99;
  }
}
